.general {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.welcome {
  background-image: url(../images/head-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  min-height: 730px;
  position: relative;
  z-index: 0; }

.welcome:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.nav {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 30px; }
  .nav .name {
    z-index: 2;
    color: white;
    max-width: 95px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
  .nav .menu {
    z-index: 2;
    max-width: 555px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav .menu_item {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif; }

.welcome-startup {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 325px;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 200px;
  max-width: 1600px; }
  .welcome-startup .welcome-header {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-family: "Montserrat", 'Roboto Slab', sans-serif; }
  .welcome-startup .welcome-subheader {
    font-size: 24px;
    font-family: 'Roboto Slab';
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 55px; }

.get-started {
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

.get-started:hover {
  color: #c0301c;
  background-color: white; }

.services {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 80px; }

.services-header {
  text-align: center;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

.services-subheader {
  text-align: center;
  color: #555555;
  font-size: 16px;
  font-family: 'Roboto Slab'; }

.line {
  text-align: center;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

.services-container {
  max-width: 1140px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between; }
  .services-container img {
    display: block;
    margin: 0 auto; }
  .services-container .service-block {
    max-width: 350px;
    padding-bottom: 100px; }
  .services-container .services-header {
    color: #555555;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px; }
  .services-container .services-text {
    font-size: 14px;
    font-family: "Roboto Slab";
    color: #555555;
    text-align: center;
    line-height: 1.5; }

.about {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 100px; }
  .about .about-header {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .about .line {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .about .about-subheader {
    text-align: center;
    color: #555555;
    font-size: 16px;
    font-family: 'Roboto Slab'; }

.description {
  max-width: 1140px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between; }
  .description .desc-block {
    max-width: 555px;
    min-height: 110px;
    color: #555555;
    line-height: 2;
    font-family: "Roboto Slab";
    font-size: 14px; }

.gallery {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .gallery .portrait {
    width: 262px;
    height: 250px;
    position: relative; }
    .gallery .portrait .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 262px;
      height: 250px;
      display: none; }
      .gallery .portrait .after .social {
        display: flex;
        justify-content: space-between;
        max-width: 115px;
        margin-top: 190px;
        margin-left: auto;
        margin-right: auto; }
        .gallery .portrait .after .social .icons {
          width: 28px;
          height: 28px; }
          .gallery .portrait .after .social .icons img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 6px; }
        .gallery .portrait .after .social .icons:hover {
          background-color: #c0301c; }
  .gallery .portrait:hover .after {
    display: block;
    background: rgba(0, 0, 0, 0.6); }
  .gallery .name {
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-family: "Montserrat", sans-serif;
    font-size: 14px; }
  .gallery .position {
    margin-top: 20px;
    padding-bottom: 100px;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 13px; }

.latest-works {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px; }
  .latest-works .latest-header {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .latest-works .line {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .latest-works .latest-menu {
    max-width: 410px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .latest-works .latest-menu .link {
      text-decoration: none;
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 16px; }
    .latest-works .latest-menu .link:hover {
      color: red; }

.works-gallery {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  min-height: 1020px; }
  .works-gallery .square {
    width: 360px;
    height: 320px;
    position: relative; }
    .works-gallery .square .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      height: 320px;
      display: none; }
      .works-gallery .square .after .after-name {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 110px; }
      .works-gallery .square .after .job {
        font-size: 12px;
        font-family: "Roboto Slab";
        color: white;
        text-align: center;
        margin-bottom: 25px; }
      .works-gallery .square .after .after-view {
        margin-left: 140px;
        font-size: 12px;
        font-family: "Roboto Slab";
        text-decoration: none;
        color: #c0301c;
        text-align: center;
        background-color: white;
        padding: 13px 20px;
        border-radius: 2px;
        display: inline-block; }

.square:hover .after {
  display: block;
  background: rgba(192, 48, 28, 0.6); }

.like {
  max-width: 1600px;
  width: 100%;
  margin-top: 100px;
  height: 250px;
  padding-top: 40px;
  height: 370px;
  position: relative;
  z-index: 0;
  background-image: url(../images/meeting.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .like .wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 200px;
    max-width: 1600px; }
    .like .wrap p {
      font-family: "Roboto Slab";
      font-size: 30px;
      color: white;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 50px; }
    .like .wrap .like-button {
      margin: 0 auto;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: white;
      font-family: "Roboto Slab";
      font-size: 18px;
      padding: 16px 24px;
      border: 2px solid white;
      border-radius: 3px; }
    .like .wrap .like-button:hover {
      background-color: white;
      color: #c0301c; }

.blog {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: 100px; }
  .blog .blog-header {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .blog .line {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .blog .blog-subheader {
    text-align: center;
    color: #555555;
    font-size: 16px;
    font-family: 'Roboto Slab'; }

.like:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 48, 28, 0.6);
  z-index: 1; }

.feed {
  max-width: 1140px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  /*post*/ }
  .feed .img {
    max-width: 460px; }
  .feed .post {
    max-width: 640px;
    min-height: 260px;
    margin-bottom: 75px;
    /*header*/ }
    .feed .post a {
      text-decoration: none;
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 13px;
      font-weight: bold; }
    .feed .post a:hover {
      color: #c0301c; }
    .feed .post .header {
      max-width: 640px;
      min-height: 75px;
      display: flex;
      justify-content: flex-start;
      /*header-author*/ }
      .feed .post .header .date {
        max-width: 75px;
        max-height: 75px;
        margin-right: 30px;
        padding: 20px 20px;
        border: 2px solid #555555;
        color: #555555;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 24px; }
      .feed .post .header .header-author {
        max-width: 400px;
        min-height: 75px;
        color: #555555; }
        .feed .post .header .header-author p {
          color: #555555;
          font-family: "Montserrat", sans-serif;
          font-size: 16px; }
        .feed .post .header .header-author .name-position {
          font-family: "Roboto Slab";
          font-size: 16px;
          font-style: italic; }
    .feed .post .post-text {
      margin-top: 20px;
      margin-bottom: 38px;
      color: #555555;
      line-height: 1.5;
      font-family: "Roboto Slab";
      font-size: 14px; }

/*feed*/
.brands {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px; }
  .brands .brands-container {
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px; }

.review {
  color: #555555;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 45px;
  font-size: 16px;
  font-family: "Roboto Slab";
  font-style: italic; }

.reviewer {
  color: #555555;
  text-align: center;
  margin-bottom: 205px;
  font-size: 18px;
  font-family: "Roboto Slab"; }

.get-touch {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 100px; }
  .get-touch .get-header {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .get-touch .line {
    text-align: center;
    text-transform: uppercase;
    color: #555555;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; }
  .get-touch .get-subheader {
    text-align: center;
    color: #555555;
    font-size: 16px;
    font-family: 'Roboto Slab'; }
  .get-touch .contacts-form {
    max-width: 1125px;
    margin: 0 auto;
    padding-top: 75px;
    display: flex;
    justify-content: space-between; }
  .get-touch .contacts {
    max-width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .get-touch .contacts .contacts-item {
      max-width: 235px;
      display: flex;
      justify-content: flex-start;
      padding-bottom: 40px; }
      .get-touch .contacts .contacts-item .contact-img {
        max-width: 15px;
        margin-right: 15px; }
      .get-touch .contacts .contacts-item .contact-value {
        max-width: 230px;
        color: #555555;
        font-family: "Roboto Slab";
        font-size: 12px; }
        .get-touch .contacts .contacts-item .contact-value span {
          margin-bottom: 10px;
          margin-top: 3px;
          display: block;
          font-family: "Montserrat";
          font-size: 14px; }
        .get-touch .contacts .contacts-item .contact-value p a {
          color: #555555;
          font-family: "Roboto Slab";
          font-size: 12px;
          text-decoration: none; }
  .get-touch .form {
    max-width: 730px; }
    .get-touch .form .top-form {
      max-width: 730px;
      min-height: 110px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      margin-bottom: 20px; }
    .get-touch .form input {
      width: 332px;
      min-height: 45px;
      padding-left: 18px;
      border: 1px solid #555555;
      font-size: 12px;
      font-family: "Roboto Slab"; }
    .get-touch .form input:hover {
      border: 1px solid #c0301c; }
    .get-touch .form input:focus {
      border: 1px solid #c0301c; }
    .get-touch .form .bottom-form textarea {
      width: 712px;
      padding-left: 18px;
      padding-top: 16px;
      border: 1px solid #555555;
      font-size: 12px;
      font-family: "Roboto Slab"; }
      .get-touch .form .bottom-form textarea:hover, .get-touch .form .bottom-form textarea:focus {
        border: 1px solid #c0301c; }
    .get-touch .form .bottom-form .button-text {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start; }
      .get-touch .form .bottom-form .button-text button {
        width: 170px;
        height: 45px;
        background-color: white;
        border: 1px solid #555555;
        font-size: 12px;
        font-family: "Roboto Slab";
        color: #555555;
        margin-right: 40px; }
      .get-touch .form .bottom-form .button-text button:hover {
        background-color: #c0301c;
        border: 1px solid #c0301c;
        color: white; }
      .get-touch .form .bottom-form .button-text p {
        display: block;
        margin-left: 40px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 12px;
        font-family: "Roboto Slab";
        color: #555555; }
        .get-touch .form .bottom-form .button-text p span {
          color: #c0301c; }

/*gettouch*/
.footer {
  max-width: 1600px;
  width: 100%;
  background-color: #c0301c;
  min-height: 307px;
  padding-top: 100px; }
  .footer .twitter-container {
    width: 195px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; }
    .footer .twitter-container .twitter {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      border: 2px solid white;
      background-image: url(../images/twitter-footer.png);
      display: block;
      background-position: center;
      background-repeat: no-repeat; }
    .footer .twitter-container .twitter:hover {
      background-color: white;
      background-image: url(../images/twitter-footer-red.png); }

@media screen and (max-width: 1100px) {
  .welcome .nav {
    flex-direction: column;
    max-width: 600px;
    width: 100%; }
  .welcome .menu {
    margin-top: 20px;
    flex-direction: column; }
  .welcome .welcome-startup {
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }

  .latest-works {
    padding-top: 70px; }

  .gallery {
    flex-wrap: wrap;
    justify-content: space-around; }
    .gallery .portrait {
      margin-bottom: 15px; }

  .works-gallery {
    justify-content: space-around; }
    .works-gallery .square {
      margin-bottom: 15px; }

  .feed {
    margin: 0 auto;
    flex-direction: column;
    max-width: 640px; }
    .feed .img {
      display: block;
      margin: 30px auto; }

  .brands-container {
    flex-direction: column; }
    .brands-container .brandname {
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto; }

  .contacts-form {
    flex-direction: column;
    max-width: 332px;
    width: 100%; }
    .contacts-form .contacts {
      max-width: 332px;
      margin: 0 auto; }
    .contacts-form .form {
      max-width: 360px;
      margin: 0 auto; }
    .contacts-form input {
      margin-bottom: 10px; }
    .contacts-form textarea {
      max-width: 332px; }
    .contacts-form .button-text {
      max-width: 300px; } }
.reviewer {
  margin-bottom: 70px; }

.footer {
  min-height: 200px; }

/*# sourceMappingURL=style.css.map */
