.general {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  $gray: #555555 !global;
  $red: #c0301c !global;

}
@mixin row-wrap {
  width: 100%;
  max-width: 1200px;
  margin: {
    left: auto;
    right: auto;
  }
}
.welcome {
background: {
image: url(../images/head-full.png);
repeat: no-repeat;
size: cover;
position: center center;
 }
 padding-top: 40px;
 min-height: 730px;
position: relative;
z-index: 0;
}
.welcome:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
.nav {
  @include row-wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 30px;
    .name {
        z-index: 2;
      color: white;
      max-width: 95px;
      font: {
        size: 24px;
        family: "Montserrat", sans-serif;
        weight: bold;
          }
    }
    .menu {
        z-index: 2;
      max-width: 555px;
      display: flex;
      justify-content: space-between;
        align-items: center;
            }
      .menu_item {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        font: {
          size: 14px;
          family: "Montserrat", sans-serif;
                }
      }
}
.welcome-startup {
display: flex;
flex-direction: column;
position: absolute;
top: 325px;
left: 0;
right: 0;
z-index: 1;
min-height: 200px;
max-width: 1600px;
    .welcome-header {
      color: white;
    text-transform: uppercase;
    text-align: center;
    font: {
      size: 48px;
      family: "Montserrat", 'Roboto Slab', sans-serif;
    }
  }
  .welcome-subheader {
    font: {
      size: 24px;
      family: 'Roboto Slab';
    }
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 55px;

  }
}
.get-started {
  color: white;
  margin: 0 auto;

    text: {
    transform: uppercase;
    decoration: none;
    }
      padding: 16px 32px;
  border: 2px solid white;
  border-radius: 3px;
  font: {
    size: 16px;
    family: "Montserrat", sans-serif;
          }
}
.get-started:hover {
  color: $red;
  background-color: white;

}
.services {
  @include row-wrap;
  background-color: white;
  padding-top: 80px;
}
@mixin header {
  text-align: center;
  text-transform: uppercase;
  color: $gray;
  margin-bottom: 30px;
  font: {
    size: 20px;
    family: 'Montserrat', sans-serif;
  }
}
.services-header {
  @include header;
  }

@mixin subheader {
  text-align: center;
  color: $gray;
  font: {
    size: 16px;
    family: 'Roboto Slab';
  }
}
.services-subheader {
  @include subheader;
}
.line {
@include header;
}
.services-container {
  max-width: 1140px;
  margin: {
    top: 70px;
    left: auto;
    right: auto;
  }
  display: flex;
  justify-content: space-between;
  img {
    display: block;
    margin: 0 auto;
  }
  .service-block {
    max-width: 350px;
    padding-bottom: 100px;
  }
  .services-header {
    color: $gray;
    font: {
      family: "Montserrat", sans-serif;
      size: 14px;
    }
    text: {
      transform: uppercase;
      align: center;
    }
    padding: {
      top: 30px;
      bottom: 25px;
    }
  }
  .services-text {
    font: {
      size: 14px;
      family: "Roboto Slab";
      }
        color: $gray;
        text-align: center;
        line-height: 1.5;
  }
}
.about {
  @include row-wrap;
  background-color: white;
  padding: {
    top: 60px;
    bottom: 100px;
    }
  .about-header {
    @include header;
  }
  .line {
    @include header;
  }
  .about-subheader {
    @include subheader;
  }
}
.description {
  max-width: 1140px;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  .desc-block {
    max-width: 555px;
    min-height: 110px;
    color: $gray;
    line-height: 2;
    font: {
      family:"Roboto Slab";
      size: 14px;
    }
  }
}
.gallery {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .portrait {
    width: 262px;
    height: 250px;
    position: relative;
    .after {
      position: absolute;
      top: 0;
        left: 0;
        width: 262px;
        height: 250px;
        display: none;
        .social {
          display: flex;
          justify-content: space-between;
          max-width: 115px;
          margin-top: 190px;
          margin-left: auto;
          margin-right: auto;
          .icons {
            width: 28px;
            height: 28px;
            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              padding-top: 6px;
            }
          }
          .icons:hover {
            background-color: $red;
          }
        }
          }
    }
    .portrait:hover .after {
      display: block;
      background: rgba(0, 0, 0, .6);
  }
  .name {
  margin-top: 20px;
    text: {
      transform: uppercase;
      align: center;
    }
    color: $gray;
    font: {
      family: "Montserrat", sans-serif;
      size: 14px;
    }
  }
  .position {
    margin-top: 20px;
    padding-bottom: 100px;
  text-align: center;
  color: $gray;
  font: {
    family: "Roboto Slab";
    size: 13px;
  }
  }
  }
.latest-works {
  @include row-wrap;
  padding-top: 100px;
  .latest-header {
    @include header;
  }
  .line {
    @include header;
  }
  .latest-menu {
    max-width: 410px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .link {
      text-decoration: none;
      color: $gray;
      font: {
        family: "Roboto Slab";
        size: 16px;
        }
    }
    .link:hover {
      color: red;
    }
  }
}
.works-gallery {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin: {
    top: 70px;
    left: auto;
    right: auto;
  }
  max-width: 1140px;
  min-height: 1020px;
  .square {
    width: 360px;
    height: 320px;
 position: relative;
 .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 320px;
  display: none;
    .after-name {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 110px;
  }
  .job {
    font-size: 12px;
    font-family: "Roboto Slab";
    color: white;
    text-align: center;
    margin-bottom: 25px;
  }
  .after-view {
    margin-left: 140px;
    font-size: 12px;
    font-family: "Roboto Slab";
    text-decoration: none;
    color: $red;
    text-align: center;
    background-color: white;
    padding: 13px 20px;
    border-radius: 2px;
    display: inline-block;
  }
 }

  }
}
.square:hover .after {
    display: block;
    background: rgba(192, 48, 28, .6);
}
.like {
max-width: 1600px;
width: 100%;
margin-top: 100px;
height: 250px;
padding-top: 40px;
height: 370px;
position: relative;
z-index: 0;
background: {
    image: url(../images/meeting.png);
    repeat: no-repeat;
    size: cover;
    position: center center;
    }

.wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 200px;
  max-width: 1600px;
p {
  font: {
    family: "Roboto Slab";
    size: 30px;
  }
  color: white;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 50px;
}
.like-button {
  margin: 0 auto;
  color: white;
  text: {
  transform: uppercase;
  decoration: none;
  align: center;
}
color: white;
  font: {
    family: "Roboto Slab";
    size: 18px;
    }
    padding: 16px 24px;
    border: 2px solid white;
    border-radius: 3px;
}
.like-button:hover {
  background-color: white;
  color: $red;
}
}
}
.blog {
  @include row-wrap;
  background-color: white;
  padding-top: 100px;
  .blog-header {
    @include header;
  }
  .line {
    @include header;
  }
  .blog-subheader {
    @include subheader;
  }
}
.like:before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(192, 48, 28, .6);
z-index: 1;
}
.feed {
  max-width: 1140px;
  margin: {
    top: 70px;
    left: auto;
    right: auto;
  }
  display: flex;
  justify-content: space-between;
  .img {
    max-width: 460px;
  }
  .post {
    max-width: 640px;
    min-height: 260px;
    margin-bottom: 75px;
    a {
      text-decoration: none;
      color: $gray;
      font: {
        family: "Roboto Slab";
        size: 13px;
        weight: bold;
        }
    }
a:hover {
  color: $red;
}
    .header {
    max-width: 640px;
    min-height: 75px;
      display: flex;
      justify-content: flex-start;

      .date {
        max-width: 75px;
        max-height: 75px;
        margin-right: 30px;
        padding: 20px 20px;
        border: 2px solid $gray;
        color: $gray;
        text-align: center;
        font: {
          family: "Montserrat", sans-serif;
          weight: bold;
          size: 24px;
        }
      }
      .header-author {
        max-width: 400px;
        min-height: 75px;
        color: $gray;
        p {
          color: $gray;
          font: {
            family: "Montserrat", sans-serif;
            size: 16px;
        }
        }
        .name-position {
          font: {
            family: "Roboto Slab";
            size: 16px;
            style: italic;
          }
        }
      }/*header-author*/
    }/*header*/
    .post-text {
      margin-top: 20px;
      margin-bottom: 38px;
      color: $gray;
      line-height: 1.5;
      font: {
        family: "Roboto Slab";
        size: 14px;
      }
    }
  }/*post*/
}/*feed*/

.brands {
  @include row-wrap;
  margin-top: 125px;
    .brands-container {
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: {
      left: auto;
      right: auto;
      bottom: 70px;
    }
  }
}
.review {
  color: $gray;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 45px;
  font: {
    size: 16px;
    family: "Roboto Slab";
    style: italic;
  }
}
.reviewer {
  color: $gray;
  text-align: center;
  margin-bottom: 205px;
  font: {
    size: 18px;
    family: "Roboto Slab";
      }
}
.get-touch {
  @include row-wrap;
  padding-top: 30px;
  padding-bottom: 100px;

.get-header {
  @include header;
}
.line {
@include header;
}
.get-subheader {
  @include subheader;
}
.contacts-form {
  max-width: 1125px;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
justify-content: space-between;
}
.contacts {
max-width: 235px;
display: flex;
flex-direction: column;
justify-content: space-between;
.contacts-item {
  max-width: 235px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 40px;
  .contact-img {
    max-width: 15px;
    margin-right: 15px;
  }
  .contact-value {
 max-width: 230px;
 color: $gray;
  font: {
   family: "Roboto Slab";
   size: 12px;
 }
 span {
   margin-bottom: 10px;
   margin-top: 3px;
   display: block;
   font: {
     family: "Montserrat";
     size: 14px;
   }
 }
 p {
   a {
     color: $gray;
      font: {
       family: "Roboto Slab";
       size: 12px;
     }
       text-decoration: none;
   }
  }
  }
}
}
.form {
  max-width: 730px;
  .top-form {
    max-width: 730px;
    min-height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 20px;
  }
  input {
    width: 332px;
    min-height: 45px;
    padding-left: 18px;
    border: 1px solid $gray;
    font-size: 12px;
    font-family: "Roboto Slab";
    }
    input:hover {
      border: 1px solid $red;
    }
    input:focus {
      border: 1px solid $red;
    }
    .bottom-form {
  textarea {
    width: 712px;
    padding-left: 18px;
    padding-top: 16px;
    border: 1px solid $gray;
    font-size: 12px;
    font-family: "Roboto Slab";
    &:hover, &:focus {
      border: 1px solid $red;
    }
  }
.button-text {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;

  button {
    width: 170px;
    height: 45px;
    background-color: white;
    border: 1px solid $gray;
    font-size: 12px;
    font-family: "Roboto Slab";
    color: $gray;
    margin-right: 40px;
  }
  button:hover {
    background-color: $red;
    border: 1px solid $red;
    color: white;
  }
  p {
    display: block;
    margin: {
      left: 40px;
      top: auto;
      bottom: auto;
    }
    font-size: 12px;
    font-family: "Roboto Slab";
    color: $gray;
    span {
      color: $red;
    }
  }
}  }
}
} /*gettouch*/
.footer {
  max-width: 1600px;
  width: 100%;
    background-color: $red;
    min-height: 307px;
    padding-top: 100px;
    .twitter-container {
      width: 195px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      .twitter {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        border: 2px solid white;
        background-image: url(../images/twitter-footer.png);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
          }
      .twitter:hover {
        background-color: white;
          background-image: url(../images/twitter-footer-red.png)
        }
    }
}
@media screen and (max-width:1100px) {
.welcome {
  .nav {
    flex-direction: column;
    max-width: 600px;
    width: 100%;
  }
  .menu {
    margin-top: 20px;
    flex-direction: column;
  }
  .welcome-startup {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
.latest-works {
  padding-top: 70px;
}
.gallery {
  flex-wrap: wrap;
  justify-content: space-around;
  .portrait {
    margin-bottom: 15px;
  }
}
.works-gallery {
justify-content: space-around;
.square {
  margin-bottom: 15px;
}
}
.feed {
  margin: 0 auto;
  flex-direction: column;
  max-width: 640px;
  .img {
    display: block;
    margin: 30px auto;
  }
}
.brands-container {
  flex-direction: column;
  .brandname {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts-form {

  flex-direction: column;
  max-width: 332px;
  width: 100%;
  .contacts {
    max-width: 332px;
    margin: 0 auto;
  }
  .form {
    max-width: 360px;
    margin: 0 auto;
  }
  input {
    margin-bottom: 10px;
  }
  textarea {
  max-width: 332px;
  }
  .button-text {
    max-width: 300px;
  }
}
}
.reviewer {
  margin-bottom: 70px;
}
.footer {
  min-height: 200px;
}
