$white: #fefefe !global;
$gray: #60606e !global;
$turquoise: #7beec7 !global;

@mixin header {
  color: $gray;
  font: {
    family: "Montserrat", sans-serif;
    size: 30px;
  }
}
@mixin text {
  color: $gray;
  font: {
    family: "Open Sans";
    size: 16px;
    }
}
@mixin paddings {
  padding-left: 0px;
  padding-right: 0px;
}
@mixin padding15 {
  padding-left: 15px;
  padding-right: 15px;
}
@mixin padding80 {
  padding: {
    left: 80px;
    right: 80px;
  }
}
@mixin reas-head {
  color: $gray;
  font: {
    family: "Montserrat", sans-serif;
    size: 18px;
  }
}
  @mixin points {
    color: $gray;
    font: {
      family: "Open Sans", sans-serif;
      size: 14px;
    }
  }
@mixin decoration {
  position: absolute;
  width: 70px;
  height: 20px;
  background-color: $turquoise;
  z-index: -1;
  top: 20px;
}
.general {
  @include paddings;
  }
  .head {
  @include padding80;
    background: {
      image: url(../img/background.png);
      repeat: no-repeat;
      size: cover;
      position: center center;
    }
    min-height: 850px;
    padding: {
      top: 42px;
    }
    position: relative;
  }

  .head__logo-container {
    @include paddings;
    display: flex;
    justify-content: space-between;

  .head__logo {
    color: $gray;
    font: {
      family: "Montserrat", sans-serif;
      size: 18px;
  }
  }
  }
  .head__nav {
    @include paddings;
    display: flex;
    justify-content: space-between;

  .head__item {
  color: $gray;
  align-self: flex-start;
  text-decoration: none;
  font: {
    size: 14px;
    family: "Open Sans", sans-serif;
  }
  }
  }

  .head__hamburger {
display: none;

  /*styles for menu icon*/
  .head__icon {
    display: block;
  	font-size: 0;
  	background: none;
  	border: none;
  	width: 30px;
  	height: 25px;
  	position: relative;
    cursor: pointer;
    }

  .head__icon,
  .head__icon:before,
  .head__icon:after {
    border-top: 3px solid $gray;
  	-webkit-transition: all .3s;
  	-moz-transition: all .3s;
  	transition: all .3s;
  }

  .head__icon:before,
  .head__icon:after {
  	position: absolute;
  	content: "";
  	display: block;
  	left: 0;
  	right: 0;
  }

  .head__icon:before {
  	top: 7px;
  }

  .head__icon:after {
  	top: 17px;
  }

  .head__icon.opened {
  	border-top-color: transparent;
  }

  .head__icon.opened:after {
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	transform: rotate(45deg);
  	top: 12px;
  }

  .head__icon.opened:before {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	top: 12px;
  }

  /*styles for menu container*/
  .head__menu-container {
    padding-top: 20px;
    width: 300px;
    }

  .head__menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .head__menu-container li {
    margin-bottom: 10px;
  }

  .head__menu-container a {
    display: block;
    padding: 10px 0;
    color: $white;
    background: $turquoise;
    text-decoration: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }

  .head__menu-container.closed {
    display: none;
  }

  .head__menu-container.opened {
    display: block;
  }
  }

  .head__declaration {
  padding-top: 145px;
  .head__subheader_turquoise {
    font: {
      family: "Montserrat", sans-serif;
      size: 18px;
    }
    color: $gray;
    background-color: $turquoise;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 100px;
  }
  .head__header_gray {
    font: {
      family: "Montserrat", sans-serif;
      size: 48px;
    }
    color: $gray;
    border: 10px solid $gray;
  }

  .head__text {
    font: {
      family: "Open Sans", sans-serif;
      size: 16px;
    }
    color: $gray;
    margin-top: 33px;
  }
  }
  .history {
    @include paddings;
    position: absolute;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
    .history__photo {
      @include paddings;
    }
    .history__description {
      @include paddings;
      padding-top: 30px;
      }
    .history__header {
      @include header;
      position: relative;
      z-index: 2;
      .history__decoration {
        @include decoration;
      }
    }
    .history__text {
      @include text;
    }
    .history__button {
      color: $white;
      background-color: $turquoise;
      padding: 20px 40px;
      margin-top: 30px;
      float: right;
      text-decoration: none;
      font:{
      family: "Montserrat", sans-serif;
      size: 14px;
    }
  }
  }

  .choose {
    @include paddings;
    padding-top: 250px;
    padding-bottom: 100px;
    .choose__header {
      @include header;
      max-width: 280px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      .choose_decoration {
        @include decoration;
      }
    }
    .choose__text {
      font: {
        size: 14px;
        family: "Open Sans", sans-serif;
      }
      color: $gray;
    }
  }
  .reasons {
  display: flex;
  justify-content: space-between;
    @include padding80;
    .reasons__left {
      @include paddings;
      display: flex;
      justify-content: space-between;
      }
    .reasons__img {
      @include paddings;
      img {
        float: right;
      }
      }
      .reasons__col {
        display: flex;
        flex-direction: column;
      }
      .reasons__block_margin {
        margin-bottom: 60px;
      }

    .reasons__header {
      @include reas-head;
      margin-top: 25px;
      line-height: 1;
    }
    .reasons__points {
      @include points;
      margin-bottom: 18px;
      line-height: 1;
    }
  }
  .portfolio {
    @include paddings;
    padding-top: 150px;
    padding-bottom: 100px;
    .portfolio__header {
      @include header;
      max-width: 280px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      .portfolio__decoration {
        @include decoration;
      }
      }
      .portfolio__text {
        @include text;
      }
  }
  .categories {
    display: flex;
    justify-content: space-between;
    @include padding80;
    padding-bottom: 150px;
    .categories__menu {
      display: flex;
      flex-direction: column;
      .categories__header {
        @include header;
        margin-bottom: 50px;
      }
      .categories__list {
        display: flex;
        flex-direction: column;
      }
    }
    .categories__marker {
      max-width: 68px;
      background-color: $turquoise;
      color: $white;
      font: {
        size: 14px;
        font-family: "Montserrat", sans-serif;
      }
      padding: 5px 20px;
    }
    .categories__item {
      color: $gray;
      margin-bottom: 30px;
      text-decoration: none;
      font: {
        size: 14px;
        family: "Montserrat", sans-serif;
        }
    }
    .categories__preview {
        @include paddings;
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      .categories__col {
        @include paddings;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        img {
        margin-bottom: 33px;
        }
      }
      .categories__img_padding-right {
        padding-right: 30px;
      }
    }
  }
  .contacts {
    @include padding80;
    background-color: $turquoise;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 330px;
    display: flex;
  }
  .together {
    @include paddings;

  .together__header {
    color: $white;
    margin-bottom: 30px;
    font: {
      size: 30px;
      family: "Montserrat", sans-serif;
    }
  }
  .together__button {
    color: $turquoise;
    background-color: $white;
    padding: 20px 30px;
    text-decoration: none;
    font: {
      size: 14px;
      family: "Montserrat", sans-serif;
    }
  }
  }

  .email {
    background-color: $white;
    padding-top: 20px;
    padding-bottom: 17px;
    .email__header {
      color: $gray;
      margin-bottom:  20px;
      font: {
        size: 24px;
        family: "Montserrat", sans-serif;
      }
    }
  .email__input {
  height: 50px;
  border: 1px solid lightgray;
  float: left;
  padding-left: 18px;
  }
  .email__button {
  height: 50px;
  border: 1px solid $turquoise;
  background-color: $turquoise;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  }
  .email__text {
    @include text;
    margin-bottom: 30px;

  }
  }

  .foot {
    @include padding80;
    padding-top: 50px;
    min-height: 155px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
      .foot__nav {
      @include paddings;
      display: flex;
      justify-content: space-between;
      .foot__item {
    color: $gray;
    text-decoration: none;
    font: {
      size: 14px;
      family: "Open Sans", sans-serif;
    }
  }
    }
    .foot__networks {
      @include paddings;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

@media screen and (max-width: 992px) {
  .head {
    @include padding15;
  }
  .head__hamburger {
display: block;
}
.head__nav {
  display: none;
}
.head__declaration {
  padding-top: 75px;
}
.head__header_gray {
font-size: 36px !important;
}
.history {
  position: relative;
  flex-direction: column;
  .history__button {
    float: left;
    text-decoration: none;
  }
}
.choose {
padding-bottom: 30px;
padding-top: 200px;
}
.portfolio {
  padding-top: 30px;
  padding-bottom: 50px;
}
.reasons {
  @include padding15;
  flex-direction: column;
  .reasons__img {
    margin: 50px auto;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
}
.categories {
  flex-direction: column;
  @include padding15;
  }
.categories__menu {
text-align: center;
.categories__marker {
  margin-left: auto;
  margin-right: auto;
}
.categories__preview {
  margin-left: 30px;
  margin-right: 30px;
}
}
.contacts {
  @include padding15;
  flex-direction: column;
}
.email {
  margin-top: 70px;
}
.foot {
  flex-direction: column;
}
}

@media screen and (max-width: 540px){
.head {
  .head__header_gray {
  font-size: 20px !important;
  }
}
.categories__preview {
  flex-direction: column !important;
  .categories__img_padding-right {
    padding-right: 0px !important;
  }
  .categories__col {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  }
}
.foot__nav {
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
}
}
