* {
  box-sizing: border-box;
}
.general {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }
.header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  }
.header__menu {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.header__link {
  padding: 12px 17px;
  color: #868686;
  font-family: "Lato Regular", sans-serif;
  font-size: 13.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.header__link:hover {
  background-color: #ffbb42;
  color: white;
  border-radius: 3px;
}
.business-container {
  padding-top: 100px;
  width: 100%;
  min-height: 590px;
  background-color: #709dca;
  position: relative;
}
.business-container__header {
  color: white;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.business-container__subheader{
  color: white;
  font-family: "Lato Regular", sans-serif;
  font-size: 18px;
  text-align: center;
}
.business-container__form {
  display: flex;
  justify-content: space-between;
  max-width: 1090px;
  margin: 0 auto;
  padding-top: 35px;
}
.business-container__input {
  width: 280px;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.business-container__input_button {
  width: 210px;
  height: 45px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffbb42;
  color: white;
  border: none;
  border-radius: 3px;
}
  .business-container__input_button:hover{
background-color: #e7ad48;
}
.business-container__input_name {
  background: url(../images/fullname.png) 10px 50% no-repeat;
  padding: 5px 0 5px 40px;
  background-color: white;
}
.business-container__input_email {
  background: url(../images/email.png) 10px 50% no-repeat;
  padding: 5px 0 5px 40px;
  background-color: white
}
.business-container__input_number {
    background: url(../images/phone.png) 10px 50% no-repeat;
    padding: 5px 0 5px 40px;
    background-color: white;
}
.business-container__img {
  position: absolute;
  left: 275px;
  top: 305px;
  z-index: 2;
  max-width: 100%;
  height: auto;
}
.services-container {
  padding-top: 200px;
  padding-bottom: 170px;
  width: 100%;
  min-height: 590px;
  background-color: white;
}
.services-container__header {
  color: #394b50;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.services-container__text {
  color: #394b50;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}
.inner-services {
  max-width: 1170px;
  margin: 0 auto;
  height: 550px;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 95px;
  }
.inner-services__item {
  max-width: 525px;
  width: 100%;
  max-height: 90px;
  display: flex;
  }
.inner-services__img {
  max-height: 90px;
  max-width: 80px;
  width: 100%;
}
.inner-services__header {
font-weight: bold;
font-family: "Lato Regular", sans-serif;
font-size: 16px;
color: #394b50;
text-transform: uppercase;
padding-bottom: 23px;
}
.inner-services__description {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #394b50;
  line-height: 1.5;
}
.about-container {
  width: 100%;
  height: 563px;
  background-color: #ffc155;
  display: flex;
  flex-direction: row;
}
.about-container__img {
  width: 600px;
  height: 563px;
  background-image: url(../images/aboutus.png);
}
.about-container__text {
  margin: 160px 15px 175px 80px;
  height: 290px;
  width: 500px;
}
.about-container__header {
  color: white;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 30px;
}
.about-container__description {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  line-height: 1.5;
  padding-bottom: 33px;
}
.about-container__link {
text-decoration: none;
color: white;
}
.about-container-button {
  width: 145px;
  height: 45px;
  font-family: "Lato Regular", sans-serif;
font-weight: bold;
font-size: 13px;
color: white;
text-transform: uppercase;
border: 1px solid #e7ad48;
text-align: center;
padding-top: 16px;
}
.about-container-button:hover {
  background-color: #e7ad48;
  border: 1px solid #ffc155;
}
.price-container {
width: 100%;
padding-top: 135px;
padding-bottom: 195px;
background-color: #e7edf3;
}
.price-container__header {
  color: #394b50;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.price-container__text {
  color: #394b50;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}
.block-container {
  max-width: 1170px;
min-height: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  }

.block-container__block {
  background-color: white;
  width: 390px;
  height: 440px;
  margin-top: 85px;
  border: 0.5px solid #ccd5df;
  padding: 50px 30px 45px 30px;
  border-radius: 5px;
      }
.block-container__heading {
  text-transform: uppercase;
  font-family: "Lato Light", sans-serif;
  font-size: 25px;
  color: #818b95;
  text-align: center;
  padding-bottom: 30px;
}
.block-container__price {
  text-transform: uppercase;
  font-family: "Lato Bold", sans-serif;
  font-size: 60px;
  color: #ffbb42;
  text-align: center;
}
.block-container__price_top {
  text-transform: uppercase;
  font-family: "Lato Bold", sans-serif;
  font-size: 30px;
  color: #ffbb42;
  vertical-align: top;
}
.block-container__period {
  text-transform: uppercase;
  font-family: "Lato Regular", sans-serif;
  font-size: 15px;
  color: #818b95;
  text-align: center;
  padding-bottom: 30px;
}
.block-container__possibilities {
  text-transform: uppercase;
  font-family: "Lato Regular", sans-serif;
  font-size: 13.5px;
  color: #818b95;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 14px;
  border-top: 1px solid #818b95;
}
.block-container__button {
  width: 130px;
  height: 40px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  background-color: #ffbb42;
  color: white;
  text-transform: uppercase;
  border: 1px solid #e7ad48;
  border-radius: 4px;
  text-align: center;
  padding-top: 14px;
  margin: 15px auto;
}
.block-container__block:hover {
  background-color: #709dca;
  color: white;
  width: 400px;
  height: 500px;
  margin-top: 55px;
  border: 1px solid #ccd5df;
  padding: 80px 30px 80px 30px;
  border-radius: 5px;
}
.block-container__block:hover {
color: white;
    }
.block-container__block:hover .block-container__period  {
color: white;
}
.block-container__block:hover .block-container__price  {
color: white;
}
.block-container__block:hover .block-container__price_top  {
color: white;
}
.block-container__block:hover .block-container__possibilities {
color: white;
border-top: 1px solid white;
}
.block-container__block:hover .block-container__heading {
color: white;
}
.block-container__link {
  text-decoration: none;
}
.block-container__block:hover .block-container__button{
  background-color: #e7ad48;
}


.work-container {
width: 100%;
background-color: white;
padding-top: 150px;
padding-bottom: 150px;
}

.work-container__header {
  color: #394b50;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.work-container__text {
  color: #394b50;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}
.work-container__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  padding-top: 108px;
  margin: 0 auto;
}
.work-container__block {
  max-width: 213px;
  padding: 32px 0px 0px 0px;
  position: relative;
}
.work-container__subheader {
  font-family: "Lato Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #394b50;
  padding-bottom: 30px;
}
.work-container__img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 100px;
  }
.work-container__subtext {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #bfc8cb;
  line-height: 1.5;
  text-align: center;
}
.work-container__img_centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.work-container__row  {
  position: absolute;
  max-width: 130px;
  width: 100%;
}
.work-container__row_left {
  top: 0px;
  left: 220px;
}
.work-container__row_center {
  left: 190px;
  top: 100px;
}
.work-container__row_right {
  top: 0px;
  left: 190px;
}
.work-container__button {
  width: 165px;
  height: 45px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  background-color: #ffbb42;
  color: white;
  text-transform: uppercase;
  border: 1px solid #e7ad48;
  border-radius: 4px;
  text-align: center;
  padding-top: 14px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
.work-container__button:hover {
  background-color: #e7ad48;
}
.happy-container {
  width: 100%;
  min-height: 910px;
  background-color: #ffc155;
  padding-top: 140px;
  padding-bottom: 160px;
}
.happy-container__header {
  color: white;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.happy-container__subheader {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px;
}
.quotes {
  color: #bfc8cb;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 20px;
}
.happy-container__blocks {
  margin: 0 auto;
  max-width: 1170px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  }
.happy-container__block {
  max-width: 570px;
  height: 240px;
  background-color: white;
  padding: 40px 40px 55px 30px;
  border-radius: 4px;
  display: flex;
  display: row;
}
.happy-container__img {
  padding-right: 30px;
}

.happy-container__review {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #bfc8cb;
  padding-bottom: 28px;
}
.happy-container__name {
  font-family: "Lato Regular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #bfc8cb;
}
.happy-container__name_orange {
color: #ffbb42;
}
.newsletter-container {
  width: 100%;
  background-color: white;
  padding-top: 90px;
  padding-bottom: 50px;
}
.newsletter-container__header {
  color: black;
  font-family: "Gotham Black Regular", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.newsletter-container__text {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.newsletter-container__form {
  display: flex;
  justify-content: space-between;
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
}
.newsletter-container__item {
  height: 45px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  border: 1px solid #cbcbcb;
}
.newsletter-container__item_name {
  width: 310px;
  background: url(../images/fullname.png) 10px 50% no-repeat;
  padding: 5px 0 5px 40px;
  background-color: white;
}
.newsletter-container__item_email {
  width: 385px;
  background: url(../images/email.png) 10px 50% no-repeat;
  padding: 5px 0 5px 40px;
  background-color: white;
}
.newsletter-container__button {
  width: 217px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffbb42;
  color: white;
  border-radius: 3px;
}
.newsletter-container__button:hover {
  background-color: #e7ad48;
}
  .map-container {
    width: 100%;
    background-color: white;
  }
  .map {
    max-width: 1170px;
    width: 100%;
    height: 555px;
    background-image: url(../images/map.png);
    margin: 0 auto;
    position: relative;
    border-bottom: 0.5px solid #e3e7ec;
    }
  .map__rounds {
    position: absolute;
    left: 445px;
    top: 40px;
    }
  .map__address {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #394b50;
    padding-top: 65px;
    padding-bottom: 75px;
    text-align: center;
    margin-bottom: 20px;
  }
  .map__header {
    color: white;
    text-transform: uppercase;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .map__text {
    font-family: "Lato Bold", sans-serif;
    font-size: 14px;
    color: #aeb7ba;
    line-height: 1.5;
  }
  .map__email {
    font-family: "Lato Bold", sans-serif;
    font-size: 14px;
    color: #ffbb42;
    line-height: 1.5;
  }

  .map__img {
    margin: 0 auto;
    display: block;
    }
    .footer {
      width: 100%;
      padding-top: 58px;
    }
    .footer__menu {
      margin: 0 auto;
      max-width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;

    }
    .footer__link {
      padding: 12px 17px;
      color: #868686;
      font-family: "Lato Regular", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
    }
    .footer__link:hover {
      background-color: #ffbb42;
      color: white;
      border-radius: 3px;
    }

    .footer__phone {
      padding-top: 30px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 172px;
      margin-left: auto;
      margin-right: auto;
    }
    .footer__number {
      font-family: "Lato Regular", sans-serif;
      font-size: 22.5px;
      color: #394b50;
    }
    .socnet-container {
      width: 105px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
    }

@media screen and (max-width:1150px) {
.happy-container__blocks {
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  margin: 0 auto;
  width: 570px;
}
.happy-container {
  height: 1200px;
  padding-top: 30px;
}
.happy-container__block, .inner-services__item {
  margin-bottom: 20px;
}
.inner-services {
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  margin: 0 auto;
  width: 550px;
}
.services-container, .price-container, .work-container, .newsletter-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.business-container {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: auto;

}
.business-container__form {
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  margin: 0 auto;
  width: 280px;
  }
.business-container__input_button {
  width: 280px;
}
.business-container__input {
  margin-bottom: 10px;
}
.about-container {
width: 100%;
height: auto;
padding-top: 30px;
padding-bottom: 30px;
  }
.about-container__img {
  display: none;
}
.about-container__text {
  width: 600px;
  height: auto;
  margin: 0 auto;
}
.business-container__img {
  display: none;
}
}
@media screen and (max-width:1024px) {
  .work-container__row {
  display: none;
}
.newsletter-container__form {
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  }

.newsletter-container__item {
  width: 300px;
  margin-bottom: 10px;
}
}




@font-face {
font-family: "Open Sans";
src: url("../fonts/opensans.ttf") format("truetype");
}
@font-face {
font-family: "Open Sans Light";
src: url("../fonts/opensanslight.ttf") format("truetype");
}
@font-face {
font-family: "../Lato Regular";
src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
font-family: "Lato Light";
src: url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
font-family: "Lato Bold";
src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham Black Regular";
src: url("../fonts/Gotham Black Regular.ttf") format("truetype");
}
