.general {
  padding-left: 0px;
  padding-right: 0px; }

.head {
  padding-left: 80px;
  padding-right: 80px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 850px;
  padding-top: 42px;
  position: relative; }

.head__logo-container {
  padding-left: 0px;
  padding-right: 0px; }
  .head__logo-container .head__logo {
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-size: 18px; }

.head__nav {
  padding-left: 0px;
  padding-right: 0px; }
  .head__nav .head__item {
    color: #60606e;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }

.head__hamburger {
  display: none; }

/*styles for menu icon*/
.head__icon {
  display: block;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer; }

.head__icon,
.head__icon:before,
.head__icon:after {
  border-top: 3px solid #60606e;
  -webkit-transition: all .3s;
  transition: all .3s; }

.head__icon:before,
.head__icon:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0; }

.head__icon:before {
  top: 7px; }

.head__icon:after {
  top: 17px; }

.head__icon.opened {
  border-top-color: transparent; }

.head__icon.opened:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px; }

.head__icon.opened:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px; }

/*styles for menu container*/
.head__menu-container {
  padding-top: 20px;
  width: 300px; }

.head__menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.head__menu-container li {
  margin-bottom: 10px; }

.head__menu-container a {
  display: block;
  padding: 10px 0;
  color: #fefefe;
  background: #7beec7;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.head__menu-container.closed {
  display: none; }

.head__menu-container.opened {
  display: block; }

@media screen and (max-width: 999px) {
  .head__nav {
    display: none; } }

@media screen and (max-width: 999px) and (min-width: 1000px) {
  display: none; }

@media screen and (max-width: 999px) {
  .head__declaration {
    padding-top: 145px; }
    .head__declaration .head__subheader_turquoise {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #60606e;
      background-color: #7beec7;
      padding: 10px 20px;
      margin: 0 auto;
      max-width: 100px; }
    .head__declaration .head__header_gray {
      font-family: "Montserrat", sans-serif;
      font-size: 48px;
      color: #60606e;
      border: 10px solid #60606e; }
    .head__declaration .head__text {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      color: #60606e;
      margin-top: 33px; }
  .history {
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: -100px; }
    .history .history__photo {
      padding-left: 0px;
      padding-right: 0px; }
    .history .history__description {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 30px; }
    .history .history__header {
      color: #60606e;
      font-family: "Montserrat", sans-serif;
      font-size: 30px; }
    .history .history__text {
      color: #60606e;
      font-family: "Open Sans";
      font-size: 16px; }
  .choose {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 250px;
    padding-bottom: 100px; }
    .choose .choose__header {
      color: #60606e;
      font-family: "Montserrat", sans-serif;
      font-size: 30px; }
    .choose .choose__text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: #60606e; }
  .reasons {
    padding-left: 80px;
    padding-right: 80px; }
    .reasons .reasons__left {
      padding-left: 0px;
      padding-right: 0px; }
    .reasons .reasons__img {
      padding-left: 0px;
      padding-right: 0px; }
    .reasons .reasons__block_margin {
      margin-bottom: 60px; }
    .reasons .reasons__header {
      color: #60606e;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      margin-top: 25px;
      line-height: 1; }
    .reasons .reasons__points {
      color: #60606e;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin-bottom: 18px;
      line-height: 1; }
  .portfolio {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 150px;
    padding-bottom: 100px; }
    .portfolio .portfolio__header {
      color: #60606e;
      font-family: "Montserrat", sans-serif;
      font-size: 30px; }
    .portfolio .portfolio__text {
      color: #60606e;
      font-family: "Open Sans";
      font-size: 16px; }
  .categories {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 150px; }
    .categories .categories__menu .categories__header {
      color: #60606e;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      margin-bottom: 50px; }
    .categories .categories__marker {
      max-width: 68px;
      background-color: #7beec7;
      color: #fefefe;
      font-size: 14px;
      font-font-family: "Montserrat", sans-serif;
      padding: 5px 20px; }
    .categories .categories__item {
      color: #60606e;
      font-size: 14px;
      font-family: "Montserrat", sans-serif; }
    .categories .categories__preview {
      padding-left: 0px;
      padding-right: 0px; }
      .categories .categories__preview .categories__col {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 895px; }
        .categories .categories__preview .categories__col img {
          margin-bottom: 33px; }
      .categories .categories__preview .categories__img_padding-right {
        padding-right: 30px; }
  .contacts {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #7beec7;
    padding-top: 50px; }
  .together {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 330px; }
    .together .together__header {
      color: #fefefe;
      margin-bottom: 30px;
      font-size: 30px;
      font-family: "Montserrat", sans-serif; }
    .together .together__button {
      color: #7beec7;
      background-color: #fefefe;
      padding: 20px 30px;
      text-decoration: none;
      font-size: 14px;
      font-family: "Montserrat", sans-serif; }
  .email {
    background-color: #fefefe;
    padding-top: 20px;
    max-height: 265px; }
    .email .email__header {
      color: #60606e;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "Montserrat", sans-serif; }
    .email .email__input {
      width: 375px;
      height: 50px;
      border: 1px solid lightgray;
      float: left;
      padding-left: 18px; }
    .email .email__button {
      width: 135px;
      height: 50px;
      border: 1px solid #7beec7;
      background-color: #7beec7;
      color: white;
      font-size: 14px;
      font-family: "Montserrat", sans-serif; }
    .email .email__text {
      color: #60606e;
      font-family: "Open Sans";
      font-size: 16px;
      margin-bottom: 30px; }
  .foot {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    min-height: 155px;
    background-color: #fefefe; }
    .foot .foot__nav {
      padding-left: 0px;
      padding-right: 0px; }
      .foot .foot__nav .foot__item {
        color: #60606e;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }
    .foot .foot__networks {
      padding-left: 0px;
      padding-right: 0px; } }
