html, body {
  padding: 0;
  margin: 0;
  background-color: white;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.leftcol {
  width: 45%;
  max-width: 550px;
  float: left;
}
.photo {
width: 240px;
max-width: 100%;
padding-top: 90px;
display: block;
margin: auto;
margin-bottom: 40px;
}
.photo-name {
  padding-bottom: 80px;
}
.headers {
    text-align: center;
  font-family: "MyriadPro", sans-serif;
    }
    #nilsok {
      font-size: 30px;
    }
    #holg {
    font-weight: bold;
    font-size: 30px;
      }
      #position {
        font-size: 20px;
      }
.profile {

width: 100%;
max-width: 550px;
padding-left: 60px;
padding-right: 10px;
padding-bottom: 50px;
}
.headings-cont {
  width: 100%;
  max-width: 550px;
  padding-bottom: 0px;
  text-align: left;
    }
.icons {
  width: 70px;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 25px;
  float: left;
}
.lil-headings {
  font-size: 30px;
  font-weight: bold;
  color: #3d6cb0;
  font-family: "MyriadPro", sans-serif;
}
.text {
font-family: "MyriadPro", sans-serif;
}
.textbold {
  font-family: "MyriadPro", sans-serif;
  font-weight: bold;
}
#contacts {
  margin-left: 50px;
}
.contacts {

  width: 100%;
  max-width: 550px;
  padding-left: 60px;
  padding-bottom: 30px;
}

ul>li>span {
  font-family: "MyriadPro", sans-serif;
  color: #3d6cb0;
  font-weight: bold;
  }
ul li {
    font-family: "MyriadPro", sans-serif;
    font-weight: bold;
    padding-top: 35px;
}
.skills-head {
  width: 100%;
  max-width: 550px;
  padding-left: 60px;
  padding-bottom: 30px;
}
.skills {
  font-family: "MyriadPro", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  }
.skillpics {
  width: 325px;
  max-width: 100%;
  display: block;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
  .rightcol {
    width: 55%;
    max-width: 650px;
    float: right;

  }
  .headings-cont2 {
    width: 100%;
    max-width: 650px;

    margin-bottom: 15px;
      }
      .education {

        width: 100%;
        max-width: 650px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-top: 75px;
      }
.master {
    font-family: "MyriadPro", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3d6cb0;
    margin-right: 20px;
}
.dates {
  font-family: "MyriadPro", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.univ {
  font-family: "MyriadPro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.desc {
  font-family: "MyriadPro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.experience {
  width: 100%;
  max-width: 650px;
  padding-bottom: 50px;
  padding-left: 10px;
  }
  .software {

      width: 100%;
      max-width: 650px;
      padding-bottom: 30px;
      padding-left: 10px;
    }
    .table-soft {

      width: 100%;
      max-width: 650px;
      margin-top: 20px;
  }
.soft {
  font-family: "MyriadPro", sans-serif;
  font-weight: bold;
  font-size: 20px;
  }
.softimages {
  width: 275px;
  max-width: 100%;
  display: block;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px;
  }
.first-three {
  float: left;
  width: 50%;
  text-align: center;
}
.second-three {
  float: right;
  width: 50%;
  text-align: center;

}
.footer {
  width: 20%;
  height: 20%;
  margin: auto;
}


@media screen and (max-width: 700px) {
  .leftcol, .rightcol,
  .first-three,
  .second-three  {
    display: block;
    float: none;
    width: 100%;
  }
@font-face {
font-family: "MyriadPro";
src: url("fonts/MyriadPro-Regular.otf") format("truetype");
}
