html, body {
  background-color: white;
}
* {
  box-sizing: border-box;
}
.general-wrapper, .header-image,{
width: 1800px;
margin: 0 auto;
}
.two-boxes {
    margin-bottom: 85px;
}
  .header-image {
  background-image: url(../images/under-iphone.png);
  width: 1800px;
  height: 960px;
  padding-left: 315px;
  padding-top: 450px;
  margin: 0 auto;
  position: relative;
  }
  .picture {
    font-size: 60px;
    font-family: "Open Sans Light", sans-serif;
    color: white;
    }
    .text {
      font-size: 13px;
      font-family: "Open Sans Light", sans-serif;
      color: white;
      line-height: 1.5;
      }
    .text-container {
      width: 440px;
      height: 120px;
      }
    .header-image img {
      position: absolute;
      top: 260px;
      right: 350px;
      height: 885px;
      }
      h2 {
        font-size: 35px;
        font-family: "Open Sans Light", sans-serif;
        color: #9767878;
      }
      .left-right {
        width: 1800px;
      }
      .start-left {
    color: #959595;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    height: 350px;
      max-width: 570px;
      width: 100%;
    line-height: 1.5;
    margin-top: 120px;
    margin-left: 315px;
    margin-right: 30px;
    display: inline-block;

      }
    .start-right {
    color: #959595;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    max-width: 570px;
    width: 100%;
    height: 350px;
    line-height: 1.5;
    padding-top: 150px;
    display: inline-block;
      }
      .box-wrapper {
        width: 1610px;
          font-size: 0px;
          margin: 0 auto;
          height: 565px;
          }
      .box {
        width: 400px;
        height: 280px;
        padding-left: 40px;
        padding-top: 50px;
        padding-right: 55px;
        float: left;
      }
      .design-quality {
        background-color: #f5989d;
        }
      h3 {
        font-size: 30px;
        font-family: "Open Sans Light", sans-serif;
        color: white;
        margin-bottom: 35px;
      }
      .text-block {
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        color: white;
        line-height: 2;
        margin-bottom: 40px;
      }
      .text-block-clients {
        font-size: 13px;
        font-family: "Open Sans", sans-serif;
        color: white;
        line-height: 2;
        margin-bottom: 65px;
      }

      .built {
        background-color: #615f7d;
      }
      .clients {
        background-color: #091e28;
        background-image: url(../images/our.png);
        }
        .clients:hover {
          background-image: url(../images/ourclients2.png);
        }
      .shoo {
        background-color: #bd8cbf;
        }

      .find-out-link a {
        text-decoration: none;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: white;
      }
      .why {
        background-color: #091e28;
        width: 800px;
        height: 280px;
        padding-left: 40px;
        padding-top: 50px;
        padding-right: 55px;
        float: left;
        background-image: url(../images/why2.png);
        }
        .why:hover {
          background-image: url(../images/why1.png);
        }
      .perfect {
        background-color: #82ca9c;
      }
      .get {
        background-color: #091e28;
        background-image: url(../images/get.png);
      }
      .look-wrapper {
        width: 1800px;
        height: 275px;
        padding-left: 315px;
        margin: 100px auto 160px;

      }
      .look-wrapper h3 {
        font-size: 35px;
        font-family: "Open Sans Light", sans-serif;
        color: #959595;
        margin-bottom: 70px;
        margin-left: 40px;

      }

      .detail-box p {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        color: #959595;
        line-height: 1.5;
        }
      .detail-box {
        display: inline-block;
        width: 270px;
        height: 180px;
        margin-left: 30px;

        }
        h4 {
          font-size: 13px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          color: #959595;
          margin-bottom: 30px;
        }
        .wheel-wrapper {
          background-color: grey;
          background-image: url(../images/wheel.png);
          width: 1800px;
          height: 870px;
          margin: 0 auto;
          position: relative;
        }
        .wheel-text h2 {
          font-size: 60px;
          font-family: "Open Sans Light", sans-serif;
          color: white;
        }
        .wheel-text {
          width: 510px;
          height: 290px;
          position: absolute;
          top: 455px;
          left: 315px;
          }
        .wheel-text p {
          padding-right: 60px;
        }
        .green-container {
          background-color: #82ca9c;
          padding-left: 315px;
          padding-top: 125px;
          padding-bottom: 160px;
          width: 1800px;
          margin: 0 auto;
        }
        .green-box {
          width: 370px;
          height: 150px;
          padding-right: 30px;
          display: inline-block;
        }
        .green-box p {
          font-style: "Open Sans", sans-serif;
          font-size: 14px;
          color: white;
          line-height: 2;
        }
        .green-container h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 35px;
          color: white;
          margin-bottom: 70px;
          }
        .green-box h4 {
          font-family: "Open Sans Light", sans-serif;
          font-weight: bold;
          color: white;
          font-size: 13px;
          margin-bottom: 30px;
        }
        .grey-container {
        background-color: #f6f7fa;
        padding-left: 315px;
        padding-top: 100px;
        padding-bottom: 150px;
        margin: 0 auto;
        width: 1800px;
        }
        .solo {
          display: inline-block;
          width: 570px;
          height: 420px;
          padding-left: 60px;
          padding: 50px 60px;
          line-height: 1.5;
        }
        .team-plan {
          display: inline-block;
          width: 570px;
          height: 420px;
          background-color: white;
          padding: 50px 60px;
          line-height: 1.5;
        }
        .legacy-button {
          width: 75px;
          height: 25px;
          color: white;
          background-color: #e1e1e1;
          border-radius: 5px;
          font-family: "Open Sans", sans-serif;
          font-size: 11px;
          font-weight: bold;
          padding-top: 4px;
       text-align: center;
          margin-bottom: 25px;
        }
        .solo h3 {
          font-size: 30px;
          font-family: "Open Sans Light", sans-serif;
          color: black;
          margin-bottom: 30px;
          }
          .solo p {
            color: #8297a7;
          }
          .buy-now-button {
            width: 150px;
            height: 45px;
            background-color: #82ca9c;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-family: "Open Sans";
            font-size: 13px;
            font-weight: bold;
            padding-top: 12px;
            color: white;
          }
          .solo img {
            display: inline-block;
            margin-right: 15px;
          }

          .popular-button {
            width: 110px;
            height: 25px;
            color: white;
            background-color: #bd8cbf;
            border-radius: 5px;
            padding-top: 4px;
            font-family: "Open Sans", sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 25px;
          }
          .team-plan h3 {
            font-size: 30px;
            font-family: "Open Sans Light", sans-serif;
            color: black;
            }
          .team-plan p {
              color: #8297a7;
            }
            .team-plan img {
              display: inline-block;
              margin-right: 15px;
            }
            .black-container {
              background-color: #192431;
              padding: 130px 315px 160px 315px;
              margin: 0 auto;
              width: 1800px;
            }
            .get-touch {
              width: 570px;
              height: 370px;
              float: left;
            }
            .stay-touch {
              width: 570px;
              height: 370px;
              float: right;

            }
            .header-touch h4 {
              color: #cccdd1;
            }
            .header-touch p {
              font-style: "Open Sans", sans-serif;
              font-size: 14px;
              color: #cccdd1;
              line-height: 2;
            }
            .three-cols {
              margin-top: 75px;
              width: 610px;
              }
            .col {
              display: inline-block;
              width: 100px;
              line-height: 2;
            }
            .col h4 {
              color: #cccdd1;
            }
            ul>li {
            color: #cccdd1;
            font-style: "Open Sans", sans-serif;
            font-size: 13px;
            }
            .col1, .col2 {
              margin-right: 100px;
            }
            .clearfix {
              width: 0px;
              clear: both;
            }
input {
  width: 400px;
  height: 60px;
  border: none;
  float: left;
  }
button {
  width: 70px;
  height: 60px;
  border: none;
  background-color: #82ca9c;
  color: white;
  font-size: 30px;

}
.spam {
color: #506276;
margin-top: 20px;
}

@font-face {
font-family: "Open Sans";
src: url("fonts/opensans.ttf") format("truetype");
}
@font-face {
font-family: "Open Sans Light";
src: url("fonts/opensanslight.ttf") format("truetype");
}
