.general {
  padding-left: 0px;
  padding-right: 0px; }

.navigation {
  min-height: 142px; }
  .navigation .logo-container .text {
    margin-left: 25px;
    color: #7a6e6e;
    letter-spacing: 5px;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 40px; }
  .navigation .hamburger {
    font-size: 48px; }
    .navigation .hamburger a {
      color: #171f23;
      text-decoration: none; }

.gray {
  min-height: 710px;
  background-color: #171f23; }
  .gray .creative {
    color: #fff;
    font-family: "Big Noodle Titling", sans-serif;
    line-height: 1;
    margin: auto auto; }
    .gray .creative .big {
      font-size: 72px;
      letter-spacing: 10px; }
    .gray .creative .small {
      font-size: 36px;
      letter-spacing: 10px; }
  .gray .scrolldown {
    margin: 40px auto; }

.about {
  background-color: #fff;
  min-height: 570px;
  padding-top: 95px; }
  .about .about-header {
    letter-spacing: 5px;
    color: #171f23;
    border-bottom: 2px solid #e64e40;
    margin: 0 auto;
    line-height: 1;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 48px;
    max-width: 175px; }
  .about .about-subheader {
    margin-top: 30px;
    color: #7a6e6e;
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px; }
  .about .about-cols {
    margin-top: 60px; }
    .about .about-cols .gray-col {
      background-color: #ebebeb;
      min-height: 195px; }
    .about .about-cols .pic1 {
      margin: 30px auto 23px auto;
      display: block; }
    .about .about-cols .pic2 {
      margin: 40px auto 32px auto;
      display: block; }
    .about .about-cols .pic3 {
      margin: 45px auto 40px auto;
      display: block; }
    .about .about-cols .col-subheader {
      color: #7a6e6e;
      font-family: "Roboto Thin", sans-serif;
      font-size: 14px; }
    .about .about-cols .col-header {
      color: #7a6e6e;
      font-family: "Roboto", sans-serif;
      font-size: 17.70px;
      font-weight: bold; }

.video {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #171f23;
  min-height: 430px; }
  .video .video-left {
    padding-top: 130px; }
    .video .video-left .video-header {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 30px; }
    .video .video-left .video-subheader {
      color: #7a6e6e;
      font-family: "Roboto Thin", sans-serif;
      font-size: 14px; }
    .video .video-left .video-btn {
      margin-top: 50px;
      background-color: #e64e40;
      color: #fff;
      padding: 13px 30px;
      border-radius: 1px;
      font-family: "Roboto", sans-serif;
      font-size: 14px; }
    .video .video-left .video-btn:hover {
      border-bottom: 1.5px solid red; }
  .video .video-right {
    background-image: url(../images/video1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #171f23; }
  .video .video-right:hover {
    background-image: url(../images/video2.png); }

.works {
  min-height: 260px;
  background-color: #fff; }
  .works .works-header {
    letter-spacing: 5px;
    color: #171f23;
    border-bottom: 2px solid #e64e40;
    margin: 0 auto;
    line-height: 1;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 48px;
    max-width: 215px;
    margin: 75px auto 25px auto; }
  .works .works-subheader {
    color: #7a6e6e;
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px; }
  .works .works-menu {
    margin: 85px auto 0 auto;
    max-width: 620px;
    align-content: center; }
    .works .works-menu .works-item a {
      color: #7a6e6e;
      font-family: "Roboto-Light", sans-serif;
      font-size: 13.7px; }
    .works .works-menu .works-item:hover {
      font-weight: bold;
      color: #171f23;
      border-bottom: 1px solid #e64e40; }

.red {
  min-height: 130px;
  background-color: #e64e40; }

.icons {
  min-height: 240px;
  background-color: #171f23; }
  .icons .icon-item img {
    margin-right: 5px; }
  .icons .icon-item p {
    color: #ebebeb;
    font-size: 33px;
    font-family: "Mg Open Modata", sans-serif; }

.who {
  min-height: 815px;
  background-color: #fff;
  padding-top: 80px; }
  .who .who-header {
    letter-spacing: 5px;
    color: #171f23;
    border-bottom: 2px solid #e64e40;
    margin: 0 auto;
    line-height: 1;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 48px;
    max-width: 230px;
    margin-bottom: 30px; }
  .who .who-subheader {
    color: #7a6e6e;
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px; }
  .who .portfolio {
    margin-top: 85px; }
    .who .portfolio .name {
      background-color: #fff;
      margin: 0 auto; }
      .who .portfolio .name .portfolio-inside {
        background-color: #ebebeb;
        padding-top: 70px;
        min-height: 500px;
        .position-color: #171f23;
        .position-line-height: 1;
        .position-font-size: 14px;
        .position-font-family: "Roboto Light", sans-serif; }
        .who .portfolio .name .portfolio-inside .photo {
          background-color: #e64e40;
          border-radius: 50%;
          max-width: 135px;
          min-height: 135px;
          margin: 0 auto; }
        .who .portfolio .name .portfolio-inside .jane {
          color: #171f23;
          line-height: 1;
          font-size: 20px;
          font-family: "Roboto", sans-serif;
          font-weight: bold; }
        .who .portfolio .name .portfolio-inside .socnet {
          max-width: 70px; }
    .who .portfolio .skills {
      background-color: #fff; }
      .who .portfolio .skills .portfolio-inside {
        background-color: #ebebeb;
        padding-top: 120px;
        padding-left: 65px;
        padding-right: 50px;
        min-height: 500px; }
        .who .portfolio .skills .portfolio-inside .skills-header {
          font-family: "Roboto Condensed Bold", sans-serif;
          font-size: 24px; }
        .who .portfolio .skills .portfolio-inside .skills-text {
          color: #7a6e6e;
          font-family: "Roboto Thin", sans-serif;
          font-size: 14px;
          margin-bottom: 40px; }
        .who .portfolio .skills .portfolio-inside .progress {
          padding-left: 0 !important; }
        .who .portfolio .skills .portfolio-inside .progress-row {
          width: 100%; }
        .who .portfolio .skills .portfolio-inside .blue-row {
          margin-bottom: 20px; }
        .who .portfolio .skills .portfolio-inside .bar-lay {
          background-color: #fff; }
        .who .portfolio .skills .portfolio-inside .bar-inside {
          background-color: #e64e40; }
        .who .portfolio .skills .portfolio-inside .progress-text {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: #171f23; }

.features {
  background-color: #171f23;
  padding-top: 60px;
  padding-bottom: 70px; }
  .features .feature-header {
    color: white;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-size: 36px;
    font-family: "Roboto Condensed", sans-serif; }
  .features .features-col img {
    display: block;
    margin: 0 auto; }
  .features .features-col .orn1 {
    margin-bottom: 35px; }
  .features .features-col .orn2 {
    margin-bottom: 29px; }
  .features .features-col .orn3 {
    margin-bottom: 34px; }
  .features .features-col .orn4 {
    margin-bottom: 30px; }
  .features .features-col .feature-name {
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Roboto Light", sans-serif; }
  .features .features-col .feature-number {
    color: #fff;
    font-size: 48px;
    font-family: "Roboto Light", sans-serif; }

.blog {
  background-color: #fff;
  padding-top: 75px;
  min-height: 800px; }
  .blog .blog-header {
    letter-spacing: 5px;
    color: #171f23;
    border-bottom: 2px solid #e64e40;
    margin: 0 auto;
    line-height: 1;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 48px;
    max-width: 215px;
    margin-bottom: 30px; }
  .blog .blog-subheader {
    color: #7a6e6e;
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px;
    margin-bottom: 75px; }
  .blog .blog-inside {
    background-color: #ebebeb;
    min-height: 425px;
    border: 0px solid #ebebeb;
    border-radius: 1px; }
    .blog .blog-inside .img-wrap {
      position: relative; }
  .blog .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(246, 116, 75, 0.5);
    width: 100%;
    height: 100%;
    display: none; }
    .blog .img-hover .round-wrap {
      max-width: 110px;
      margin-top: 120px;
      margin-left: auto;
      margin-right: auto; }
      .blog .img-hover .round-wrap .link {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #e87e5d;
        background-image: url(../images/link.png);
        display: block;
        background-position: center;
        background-repeat: no-repeat; }
      .blog .img-hover .round-wrap .eye {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #f6e5e0;
        background-image: url(../images/eye.png);
        display: block;
        background-position: center;
        background-repeat: no-repeat; }
  .blog .img-wrap:hover .img-hover {
    display: block; }
  .blog .blog-head {
    margin-top: 40px;
    color: #7a6e6e;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: "Roboto Light", sans-serif; }
  .blog .blog-text {
    color: #7a6e6e;
    font-size: 14px;
    font-family: "Roboto Thin", sans-serif; }
  .blog .attributes {
    padding-bottom: 25px; }
    .blog .attributes .date-wrap {
      width: 80px;
      color: #7a6e6e;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 10px; }
    .blog .attributes .like-comments {
      width: 80px;
      color: #7a6e6e;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 10px; }

.choose {
  background-color: #171f23;
  padding: 60px 27px 90px 27px; }
  .choose .choose-header {
    color: white;
    letter-spacing: 5px;
    margin-bottom: 75px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 36px; }
  .choose .plan {
    background-color: #171f23;
    padding-left: 1px;
    padding-right: 1px; }
  .choose .plan-inside {
    background-color: #1f282c;
    padding-bottom: 45px; }
    .choose .plan-inside .plan-head {
      background-color: #0e1316;
      min-height: 125px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 50px;
      line-height: 1; }
      .choose .plan-inside .plan-head .plan-name {
        color: #fff;
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: bold; }
      .choose .plan-inside .plan-head .plan-price {
        color: #fff;
        font-size: 36px;
        font-family: "Roboto Light", sans-serif; }
    .choose .plan-inside .conditions {
      color: #fff;
      letter-spacing: 2px;
      font-size: 14px;
      font-family: "Roboto", sans-serif; }
    .choose .plan-inside .red-bold {
      font-weight: bold; }
    .choose .plan-inside .plan-btn {
      margin-top: 75px;
      background-color: #e64e40;
      color: #fff;
      padding: 10px 20px;
      border-radius: 3px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: bold; }
  .choose .plan-inside:hover {
    border: 1px solid #e64e40; }
  .choose .plan-inside:hover .red-bold {
    color: #e64e40; }

.get-touch {
  background-color: #fff;
  padding-top: 80px; }
  .get-touch .touch-header {
    letter-spacing: 5px;
    color: #171f23;
    border-bottom: 2px solid #e64e40;
    margin: 0 auto;
    line-height: 1;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 48px;
    max-width: 240px;
    margin-bottom: 25px; }
  .get-touch .touch-subheader {
    color: #7a6e6e;
    font-family: "Roboto Thin", sans-serif;
    font-size: 14px; }
  .get-touch .form-wrapper {
    max-width: 780px;
    margin: 90px auto 80px auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px; }
    .get-touch .form-wrapper label {
      color: #7a6e6e;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold; }
      .get-touch .form-wrapper label span {
        color: #e64e40; }
    .get-touch .form-wrapper input {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 2px solid #ebebeb; }
    .get-touch .form-wrapper .form-btn {
      margin-top: 60px;
      background-color: #e64e40;
      color: #fff;
      padding: 20px 40px;
      border-radius: 3px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: bold; }

.map {
  background-color: #0e1316;
  min-height: 85px;
  letter-spacing: 3px; }
  .map p {
    color: white;
    font-size: 24px;
    font-family: "Roboto Condensed Bold", sans-serif; }

footer {
  background-color: #171f23;
  padding-top: 50px;
  padding-bottom: 60px; }
  footer .boostfolia {
    color: #fff;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: "Big Noodle Titling", sans-serif; }
  footer .slogan {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto Condensed", sans-serif; }
  footer .social {
    max-width: 70px;
    margin: 0 auto; }

@media screen and (max-width: 720px) {
  .icons {
    padding-top: 30px; }

  .icons-container {
    flex-direction: column; }

  .icon-item {
    margin-bottom: 20px;
    align-self: center; } }
@font-face {
  font-family: "Big Noodle Titling";
  src: url("../fonts/big_noodle_titling.ttf") format("truetype"); }
@font-face {
  font-family: "MgOpen Modata";
  src: url("../fonts/MgOpen Modata.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"); }

/*# sourceMappingURL=style.css.map */
