$gray: #171f23 !global;
$orange: #f15324 !global;
$light-gray: #7a6e6e !global;
$red: #e64e40 !global;
$white: #fff !global;
$tiny-gray: #ebebeb !global;
$black: #0e1316 !global;
$medium-gray: #1f282c !global;


@mixin text {
  color: $light-gray;
  font: {
    family: "Roboto Thin", sans-serif;
    size: 14px;
    }
}
@mixin header {
  letter-spacing: 5px;
  color: $gray;
  border-bottom: 2px solid $red;
  margin: 0 auto;
  line-height: 1;
  font: {
    family: "Big Noodle Titling", sans-serif;
    size: 48px;
  }
}
.general {
  padding-left: 0px;
  padding-right: 0px;
}
.navigation {
  min-height: 142px;
  .logo-container {
    .text {
      margin-left: 25px;
      color: $light-gray;
      letter-spacing: 5px;
      font: {
        family: "Big Noodle Titling", sans-serif;
        size: 40px;
      }
    }
  }
.hamburger{
  font-size: 48px;
  a {
  color: $gray;
  text-decoration: none;
 }
  }
}
.gray {
  min-height: 710px;
  background-color: $gray;
  .creative {
    color: $white;
    font-family: "Big Noodle Titling", sans-serif;
    line-height: 1;
    margin: auto auto;
  .big {
    font-size: 72px;
    letter-spacing: 10px;
  }
  .small {
    font-size: 36px;
    letter-spacing: 10px;
  }
  }
  .scrolldown {
  margin: 40px auto;
    }
}
.about {
  background-color: $white;
  min-height: 570px;
  padding-top: 95px;
.about-header {
  @include header;
max-width: 175px;
}

.about-subheader {
  margin-top: 30px;
  @include text;
}
.about-cols {
  margin-top: 60px;
.gray-col {
  background-color: $tiny-gray;
  min-height: 195px;
}
.pic1 {
  margin: 30px auto 23px auto;
  display: block;
}
.pic2 {
  margin: 40px auto 32px auto;
  display: block;
}
.pic3 {
  margin: 45px auto 40px auto;
  display: block;
}
.col-subheader{
  @include text;
}
.col-header {
  color: $light-gray;
  font: {
    family: "Roboto", sans-serif;
    size: 17.70px;
    weight: bold;
  }
}
}
}
.video {
  padding: {
    left: 0px;
    right: 0px;
  }
  background-color: $gray;
  min-height: 430px;
  .video-left {
    padding-top: 130px;
  .video-header {
      color: $white;
      font: {
        family: "Roboto", sans-serif;
        weight: bold;
        size: 30px;
      }
    }
    .video-subheader {
@include text;
    }
.video-btn {
  margin-top: 50px;
  background-color: $red;
  color: $white;
  padding: 13px 30px;
  border-radius: 1px;
  font: {
    family: "Roboto", sans-serif;
    size: 14px;
  }
}
.video-btn:hover {
  border-bottom: 1.5px solid red;
}
  }
.video-right {
  background: {
    image: url(../images/video1.png);
    repeat: no-repeat;
    size: cover;
    position: center center;
    color: $gray;
}
}
.video-right:hover {
  background-image: url(../images/video2.png);
}
}
.works {
  min-height: 260px;
  background-color: $white;
  .works-header {
    @include header;
    max-width: 215px;
    margin: 75px auto 25px auto;
  }
  .works-subheader {
    @include text;
  }
.works-menu {
  margin: 85px auto 0 auto;
  max-width: 620px;
  align-content: center;
.works-item {
  a {
  color: $light-gray;
  font: {
    family: "Roboto-Light", sans-serif;
    size: 13.7px;
  }
  }
}
.works-item:hover {
  font-weight: bold;
  color: $gray;
  border-bottom: 1px solid $red;
}
}
}
.red {
  min-height: 130px;
  background-color: $red;
}
.icons {
  min-height: 240px;
  background-color: $gray;
  .icons-container {
  }
    .icon-item {
      img {
        margin-right: 5px;
      }
      p {
        color: $tiny-gray;
        font: {
          size: 33px;
          family: "Mg Open Modata", sans-serif;
        }
      }
    }
}
.who {
  min-height: 815px;
  background-color: $white;
  padding-top: 80px;
  .who-header {
    @include header;
    max-width: 230px;
    margin-bottom: 30px;
  }
  .who-subheader {
    @include text;
      }
  .portfolio {
  margin-top: 85px;
    .name {
      background-color: $white;
      margin: 0 auto;
    .portfolio-inside {
        background-color: $tiny-gray;
        padding-top: 70px;
        min-height: 500px;
              .photo {
          background-color: $red;
          border-radius: 50%;
          max-width: 135px;
          min-height: 135px;
          margin: 0 auto;
        }
      .jane {
        color: $gray;
        line-height: 1;
        font: {
          size: 20px;
          family: "Roboto", sans-serif;
          weight: bold;
        }
      }
    .position: {
      color: $gray;
      line-height: 1;
      font: {
        size: 14px;
        family: "Roboto Light", sans-serif;
      }
    }
  .socnet {
    max-width: 70px;
  }
      }
      }
    .skills {
      background-color: $white;
      .portfolio-inside {
        background-color: $tiny-gray;
        padding-top: 120px;
        padding-left: 65px;
        padding-right: 50px;
        min-height: 500px;
        .skills-header {
font-family: "Roboto Condensed Bold", sans-serif;
font-size: 24px;
        }
        .skills-text {
          @include text;
          margin-bottom: 40px;
        }
        .progress {
          padding-left: 0 !important;
        }
        .progress-row {
          width: 100%;
                  }
.blue-row {
margin-bottom: 20px;
}
        .bar-lay {
          background-color: $white;
        }
        .bar-inside {
          background-color: $red;
        }
        .progress-text {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 14px;
          color: $gray;
        }
        }
        }
    }
  }

.features {
  background-color: $gray;
  padding-top: 60px;
  padding-bottom: 70px;
  .feature-header {
  color: white;
  letter-spacing: 5px;
  margin-bottom: 60px;
    font: {
      size: 36px;
      family: "Roboto Condensed", sans-serif;
    }
  }
.features-col {
  img {
    display: block;
    margin: 0 auto;
    }
  .orn1 {
    margin-bottom: 35px;
  }
  .orn2 {
    margin-bottom: 29px;
  }
  .orn3 {
    margin-bottom: 34px;
  }
  .orn4 {
    margin-bottom: 30px;
  }
  .feature-name {
    color: $white;
    margin-bottom: 30px;

    font: {
      size: 18px;
      family: "Roboto Light", sans-serif;
    }
  }
  .feature-number {
    color: $white;
    font: {
      size: 48px;
      family: "Roboto Light", sans-serif;
    }
  }
}
}
.blog {
  background-color: $white;
  padding-top: 75px;
  min-height: 800px;
  .blog-header {
    @include header;
    max-width: 215px;
    margin-bottom: 30px;
  }
  .blog-subheader {
    @include text;
    margin-bottom: 75px;
  }
  .blog-inside {
  background-color: $tiny-gray;
  min-height: 425px;

  border: 0px solid $tiny-gray;
  border-radius: 1px;
    .img-wrap {
      position: relative;
    }
      }
  .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(246, 116, 75, 0.5);
    width: 100%;
    height: 100%;
    display: none;
.round-wrap {
  max-width: 110px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  .link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #e87e5d;
    background-image: url(../images/link.png);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }
  .eye {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f6e5e0;
    background-image: url(../images/eye.png);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }
}
    }
  .img-wrap:hover .img-hover{
    display: block;
  }

.blog-head {

  margin-top: 40px;
  color: $light-gray;
  letter-spacing: 2px;
  font: {
    size: 18px;
    family: "Roboto Light", sans-serif;
  }
}
.blog-text {
  color: $light-gray;
  font: {
    size: 14px;
    family: "Roboto Thin", sans-serif;
  }
}

.attributes {
  padding-bottom: 25px;
    .date-wrap {
    width: 80px;
    color: $light-gray;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10px;
    }
    .like-comments {
      width: 80px;
      color: $light-gray;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 10px;
    }
}
}

.choose {
  background-color: $gray;
  padding: 60px 27px 90px 27px;
  .choose-header {
    color: white;
    letter-spacing: 5px;
    margin-bottom: 75px;
    font: {
      family: "Roboto Condensed", sans-serif;
      size: 36px;
    }
  }
  .plan {
    background-color: $gray;
    padding-left: 1px;
    padding-right: 1px;
  }
  .plan-inside {
    background-color: $medium-gray;
    padding-bottom: 45px;

  .plan-head {
    background-color: $black;
    min-height: 125px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    line-height: 1;
    .plan-name {
      color: $white;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
  .plan-price {
    color: $white;
    font-size: 36px;
    font-family: "Roboto Light", sans-serif;
  }
  }
  .conditions {
    color: $white;
    letter-spacing: 2px;
    font: {
      size: 14px;
      family: "Roboto", sans-serif;
    }
  }
  .red-bold {
    font-weight: bold;
  }
  .plan-btn {
    margin-top: 75px;
    background-color: $red;
    color: $white;
    padding: 10px 20px;
    border-radius: 3px;
    font: {
      family: "Roboto", sans-serif;
      size: 14px;
      weight: bold;
    }
  }
}
.plan-inside:hover {
  border: 1px solid $red;
}
.plan-inside:hover .red-bold {
  color: $red;
}
}
.get-touch {
  background-color: $white;
  padding-top: 80px;
  .touch-header {
    @include header;
    max-width: 240px;
    margin-bottom: 25px;
    }
  .touch-subheader {
    @include text;
  }
.form-wrapper {
  max-width: 780px;
  margin: 90px auto 80px auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  label {
    color: $light-gray;
  font: {
    size: 14px;
    family: "Roboto", sans-serif;
    weight: bold;
  }
  span {
    color: $red;
  }
  }
  input {
      border: {
      top: 0px;
      left: 0px;
      right: 0px;
    }
    border-bottom: 2px solid $tiny-gray;
  }
  .form-btn {
    margin-top: 60px;
    background-color: $red;
    color: $white;
    padding: 20px 40px;
    border-radius: 3px;
    font: {
      family: "Roboto", sans-serif;
      size: 14px;
      weight: bold;
    }
  }
}
}
.map {
  background-color: $black;
  min-height: 85px;
  letter-spacing: 3px;
p {
color: white;
  font: {
    size: 24px;
    family: "Roboto Condensed Bold", sans-serif;
  }
}
}
footer {
  background-color: $gray;
  padding-top: 50px;
  padding-bottom: 60px;
  .boostfolia {
    color: $white;
    margin-bottom: 0px;
    font: {
      size: 24px;
      family: "Big Noodle Titling", sans-serif;
    }
  }
  .slogan {
    color: $white;
     font: {
      size: 14px;
      family: "Roboto Condensed", sans-serif;
    }
  }
  .social {
    max-width: 70px;
    margin: 0 auto;
  }
}








@media screen and (max-width:645px){

}

@media screen and (max-width:720px) {
.icons {
  padding-top: 30px;
}
  .icons-container {
    flex-direction: column;
    }
  .icon-item {
    margin-bottom: 20px;
    align-self: center;
  }
}

@font-face {
  font-family: "Big Noodle Titling";
src: url("../fonts/big_noodle_titling.ttf") format("truetype");
}
@font-face {
font-family: "MgOpen Modata";
src: url("../fonts/MgOpen Modata.ttf") format("truetype");
}
@font-face {
font-family: "Roboto";
src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
font-family: "Roboto Light";
src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
font-family: "Roboto Thin";
src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
font-family: "Roboto Condensed Bold";
src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}
@font-face {
font-family: "Roboto Condensed";
src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}
